@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  pre {
    @apply p-4 rounded-sm;
  }
}

@tailwind components;

@tailwind utilities;

body {
  margin: auto;
  padding: 20px;
  max-width: 55rem;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}
