---
import Layout from '../layouts/AboutMe.astro';
import Button from '../components/Button.astro';
import {Icon} from "astro-icon";
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('March 16 2023')}
	updatedDate={new Date('March 17 2023')}
	heroImage="/about-me.jpg"
>
<h5>
	Hi! I'm Camila Martinez and I'm currently studying Software Engineering at Code University in Berlin, Germany.
</h5>
<br>
<p>
	Tech lover with an enthusiasm for web development, with excellent teaching and leadership
	skills. Proactive, empathetic and optimistic, good at teamwork and under pressure.
	Always with a great disposition to learn, innovate, create.
</p>
<br>
<Button class={"animate-bounce"}>
	<a href="https://drive.google.com/file/d/1l6bkdP3v26GdQYF_We_MlgCdsFLKje38/view?usp=share_link" target="_blank" class="flex">
		<Icon name="ph:file-pdf" width="25" class="pr-2"></Icon>
		My resume
	</a>
</Button>
</Layout>
